.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: ease-in 0.3s;
}
.card__image:hover {
  pointer-events: all;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.card__title {
  max-width: 353px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-btn {
  background: url("../images/defaultdeletebtn.svg") no-repeat center;
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__delete-btn:hover {
  background-image: url(../images/deletebtnhover.svg);
  cursor: pointer;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_is-active {
  background-image: url(../images/Likedheart.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 235px;
  }
}
