.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin: 0 20px 0 0;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 420px;
}

.profile__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #212121b2;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: none;
  color: #212121;
  display: flex;
  gap: 8px;
  padding: 0;
  opacity: 0.7;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  transition: all 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  margin: auto 0 0 auto;
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    max-width: 288px;
    width: 100%;
    margin: auto;
  }

  .profile__edit-btn {
    flex-wrap: wrap;
    justify-content: center;
  }
}
